<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Fraud Detect</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container-fluid ms-2">
      <div class="row">
        <div class="col-sm-2 mt-4 ms-5">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'plot_graph' %}">Graph Plot</a></li>
              <li><a href="{% url 'fraud_detect' %}">Fraud Detect</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-8 t-3">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
