{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <h1 class="mt-3 pb-1">Fraud Detection</h1>
    <p>
      Financial fraud detection using Graph Neural Networks on DGL with Kafka Streaming.
    </p>
    <div id="image-container">
          <img src="{% static 'image/pic5.jpg' %}" alt="Pic 5">
      </div>
    <ul>
      <li><h5>Dataset:</h5>
        <p><a href="https://zindi.africa/competitions/xente-fraud-detection-challenge/data">Xente</a> is an e-commerce and financial service app serving 10,000+ customers in Uganda.</p>
        <p>This dataset includes a sample of approximately 140,000 transactions that occurred between 15 November 2018 and 15 March 2019.</p>
      </li>
      <li><h5>Summary: Modern Approach to Financial Fraud Detection</h5>
          <ul>
              <li>The detection of financial fraud has become increasingly crucial in an era where digital financial transactions are rapidly evolving.</li>
              <li>This study introduces a modern approach utilizing Graph Neural Networks (GNN) and Kafka Streaming to enhance fraud detection capabilities.</li>
              <li>We constructed a framework integrating GNN into the analysis of the graph of financial transactions, modeling complex relationships among related factors.</li>
              <li>Integration with Kafka Streaming supports real-time data processing and analysis, enhancing flexibility in detecting dynamic fraudulent behaviors.</li>
          </ul>
      </li>
    </ul>
{% endblock %}
